<div class="page-header">
    <h1>Add User</h1>
</div>

<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner">
        <p>Loading ...</p>

    </span>
</div>
<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{register.successMsg}}</div>
</div>
<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{register.errorMsg}}</div>
</div>
<br />
<form ng-submit="register.regUser(regData);">
    <label>First Name</label>
    <input class="form-control" type="text" ng-model="register.regData.firstName" name="firstName" placeholder="Enter first name" />
    <label>Last Name</label>
    <input class="form-control" type="text" ng-model="register.regData.lastName" name="lastName" placeholder="Enter lastname" />
    <label>Cell Number</label>
    <input class="form-control" type="text" ng-model="register.regData.cellNumber" name="cellNumber" placeholder="Enter cell number" />
    <label>Email Address</label>
    <input class="form-control" type="text" ng-model="register.regData.emailAddress" name="emailAddress" placeholder="Enter email address" />
    <label>Password</label>
    <input class="form-control" type="password" ng-model="register.regData.password" name="password" placeholder="Enter password" />
    <br />
    <button class="btn btn-primary" type="submit">Add</button>
</form>

